html body {
    background: #5c84c0;
}

html body .page-hero h3 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -1px -1px 1px #460000, 2px 2px 1px #4db048;
    text-transform: uppercase;
    color: #71df9d;
}

html body .page-hero p {
    color: #1b6c22;
}

html body .card {
    border-radius: 15px;
    overflow: hidden;
}

html body .card-header {
    background: #5c3037;
    color: #fff;
}

html body .card-header .prevMonth {
    cursor: pointer;
}

html body .card-header .nextMonth {
    cursor: pointer;
}

html body .card-body {
    background: #e46a35;
}

html body .card-body .days span {
    background: #afe275;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    cursor: pointer;
}

html body .card-body .days span:hover {
    background: #f7899a;
}

html body .card-body .dates span {
    background: #ab4858;
    color: #000;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    cursor: pointer;
}

html body .card-body .dates span.active,
html body .card-body .dates span:hover {
    background: #ffeef0;
    color: #000;
}

html body .card-body .dates span.ntMonth {
    color: #938e8e;
    background: #ffd8de;
}

html body .card-body .dates span.ntMonth:hover {
    background: #ffeef0;
    color: #000;
}

html body .card#event .card-header .close {
    color: #fff;
    opacity: 1;
}

html body .card#event .card-body .events-today {
    height: 210px;
    overflow-x: hidden;
}

html body .card#event .card-body .events-input .data-invalid {
    border-color: red;
}

html body .card#event .card-body .events-input .error {
    font-size: 12px;
    color: red;
    position: absolute;
    top: 100%;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  .text-box {
    resize: none;
    padding: 10px;
  }
  
  .jumbotron {
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 10fr 0.5fr 0.5fr;
    grid-template-rows: 1.5fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1.5fr;
    gap: 2px 2px;
  }

  .save-container {
    display: flex;
    flex-direction: row;
    align-items: space-around;
  }

  .hours {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-basis: auto;
    width: 3rem;
    height: 4rem;
    border-top-style:solid;
    border-top-width: 1px;
    border-color: black;
        
  }

  .hour-flex-item {
    margin-top:0.5rem;
    
  }

  .planner { grid-area: 1 / 2 / 12 / 5; 
    height:fit-content;
    width: fit-content;
    }
  
  .hour900 { grid-area: 2 / 2 / 3 / 3;  }
    
  .hour1000 { grid-area: 3 / 2 / 4 / 3; }
  
  .hour1100 { grid-area: 4 / 2 / 5 / 3; }
  
  .hour1200 { grid-area: 5 / 2 / 6 / 3; }
  
  .hour1300 { grid-area: 6 / 2 / 7 / 3; }
  
  .hour1400 { grid-area: 7 / 2 / 8 / 3; }
  
  .hour1500 { grid-area: 8 / 2 / 9 / 3; }
  
  .hour1600 { grid-area: 9 / 2 / 10 / 3; }
  
  .hour1700 { grid-area: 10 / 2 / 11 / 3; }
  
  .hour900-text { grid-area: 2 / 3 / 3 / 4; }
  
  .hour1000-text { grid-area: 3 / 3 / 4 / 4; }
  
  .hour1100-text { grid-area: 4 / 3 / 5 / 4; }
  
  .hour1200-text { grid-area: 5 / 3 / 6 / 4; }
  
  .hour1300-text { grid-area: 6 / 3 / 7 / 4; }
  
  .hour1400-text { grid-area: 7 / 3 / 8 / 4; }
  
  .hour1500-text { grid-area: 8 / 3 / 9 / 4; }
  
  .hour1600-text { grid-area: 9 / 3 / 10 / 4; }
  
  .hour1700-text { grid-area: 10 / 3 / 11 / 4; }
  
  .padding-area-top { 
        grid-area: 1 / 1 / 2 / 6; 
        min-height: 3rem;
    }
  
  .padding-area-bottom { 
        grid-area: 11 / 1 / 12 / 6;
        min-height: 3rem;
    }
  
  .padding-area-right { 
        grid-area: 1 / 5 / 12 / 6; 
        width: 2rem;
    }
  
  .padding-area-left { 
        grid-area: 1 / 1 / 12 / 2; 
        width: 2rem;
    }
  
  .hour900-save { grid-area: 2 / 4 / 3 / 5; }
  
  .hour1000-save { grid-area: 3 / 4 / 4 / 5; }
  
  .hour1100-save { grid-area: 4 / 4 / 5 / 5; }
  
  .hour1200-save { grid-area: 5 / 4 / 6 / 5; }
  
  .hour1300-save { grid-area: 6 / 4 / 7 / 5; }
  
  .hour1400-save { grid-area: 7 / 4 / 8 / 5; }
  
  .hour1500-save { grid-area: 8 / 4 / 9 / 5; }
  
  .hour1600-save { grid-area: 9 / 4 / 10 / 5; }
  
  .hour1700-save { grid-area: 10 / 4 / 11 / 5; }
  
  .entry-blank { grid-area: 2 / 3 / 11 / 4; }


  

/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

@media (max-width: 767px) {
    
}

@media (max-width: 767px) {
    html body .pa-sm {
        position: absolute;
    }
    html body .card-body .days span {
        height: 38px;
        width: 38px;
        line-height: 38px;
        font-size: 0.8rem;
    }
    html body .card-body .dates span {
        height: 38px;
        width: 38px;
        line-height: 38px;
        font-size: 0.8rem;
    }
    html body .card#event .card-body .events-today {
        height: 188px;
    }
}


/*# sourceMappingURL=style.css.map 

{
    "version": 3, "sourceRoot": "", "sources": [ "../scss/style.scss"], "names": [], "mappings": "AAGI,6BAEQ,qJACA,qCAEJ,mDACI,qDACI,iDACA,iDAEJ,wCAEQ,4JACI,yDAIJ,6JACI,+EACQ,8BACR,0EACI,6EAOR,+DAGA,8EAEI,8EACA,0GAUxB,yBAGY,mCAIY,wFAGA,yFAKA", "file": "style.css"
}

*/